#huge-bookmarklet-template {
  #huge-bookmarklet-template-lightbox {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    background: rgba(black, 0.7) !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 2147483647 !important;
    div {
      width: 600px !important;
      margin: 80px auto 0!important;
      background: #fff !important;
      background: rgba(255,255,255,0.7) !important;
      position: relative !important;
      padding: 5px !important;
      text-align: left !important;
      max-height: 300px !important;
  -webkit-box-shadow: 0px 0px 15px 0px #ffffff !important;
     -moz-box-shadow: 0px 0px 15px 0px #ffffff !important;
          box-shadow: 0px 0px 15px 0px #ffffff !important;
      textarea {
        height: 25px;
        width: 600px !important;
        outline: none !important;
        font-size: 22px !important;
        font-weight: bold !important;
        border:0 !important;
        font-family: arial !important;
        color: #000 !important;
        background: none !important;
        overflow-x: hidden !important;
      }
      .center {
        text-align: center !important;
      }
    }
    .googleit {
      width: 48px !important;
      height: 48px !important;
      margin: 20px auto !important;
      display: block !important;
      img { opacity: 0.5; }
      &:hover img { opacity: 1; }
    }
  }
}
