<% content_for :head do %>
  <title>Huge bookmarklets</title>
<% end%>

<h1>Try these bookmarklets:</h1>

<a href="#" class="bookmarklet" data-name="bookmarklet">simple template</a>
<a href="#" class="bookmarklet" data-name="links">links</a>
<a href="#" class="bookmarklet" data-name="copy">copy</a>
<a href="#" class="bookmarklet" data-name="burn">burn</a>
<a href="javascript:(function(){window.open('http://google.com/search?q='+encodeURIComponent(window.getSelection()))})()" class="bookmarklet">googleit</a>

<ul>
  <li><strong>simple template</strong>: Just displays a lightbox on top of the current website</li>
  <li><strong>links</strong>: Displays a lightbox and lists all the links found on the current website</li>
  <li><strong>copy</strong>: Click on text, this text will be selected and display in a lightbox, you can select it or use the google button</li>
  <li><strong>burn</strong>: Literally burns the current website</li>
  <li><strong>googleit</strong>: Google the currently selected text</li>
</ul>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<%= javascript_include_tag "site" %>
