<% content_for :head do %>
  <title>Huge bookmarklets</title>
<% end%>

<h1>Try these bookmarklets:</h1>

<a href="#" class="bookmarklet" data-name="bookmarklet">simple template</a>
<a href="#" class="bookmarklet" data-name="links">links</a>
<a href="#" class="bookmarklet" data-name="copy">copy</a>
<a href="#" class="bookmarklet" data-name="burn">burn</a>
<a href="javascript:(function(){window.open('http://google.com/search?q='+encodeURIComponent(window.getSelection()))})()" class="bookmarklet">googleit</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<%= javascript_include_tag "site" %>
